.person {
    display: inline-block;
    margin: 10px;
    border: 10px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 220px;
    height: 330px;
    padding: 20px;
}
h1 {
    margin: 0;
}
img {
    height: 240px;
    width: 220px;
}